<h1 class="mat-display-1">Angular PWA boilerplate</h1>
<h2 class="mat-h2">A simple pwa template for to get started.</h2>
<span class="mat-body">Api status: {{ apiStatus }}</span>

<div>
  <button mat-raised-button color="primary" (click)="onStart()">Show Loader</button>
</div>

<br />
<div>
  <button mat-raised-button color="primary" (click)="successNotification()">Success</button>
</div>

<br />
<div>
  <button mat-raised-button color="accent" (click)="warnNotification()">Warn</button>
</div>

<br />
<div>
  <button mat-raised-button color="warn" (click)="errorNotification()">Error</button>
</div>

<br />
<div>
  <button mat-raised-button (click)="infoNotification()">Info</button>
</div>

<br />
<div>
  <button mat-raised-button (click)="confirm()">Confirm</button>
</div>
